<h1>Kyle Ratliff's Role Playing Character Sheet</h1>
<h2>Testing</h2>

<table id="characterInfoTable" cellspacing="0">
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>
  <tbody>
    <tr>
      <td><h3>First Name:</h3></td>
      <td colspan="3"><input type="text" class="large" id="firstName" name="firstName"></td>
      <td><h3>Middle Name:</h3></td>
      <td colspan="3"><input type="text" class="large" id="middleName" name="middleName"></td>
      <td><h3>Last Name:</h3></td>
      <td colspan="3"><input type="text" class="large" id="lastName" name="lastName"></td>
    </tr>
    <tr>
      <td><h3>Class:</h3></td>
      <td colspan="2"><input type="text" class="large" id="class" name="class"></td>
      <td><h3>Middle Name:</h3></td>
      <td colspan="2">asdf</td>
      <td><h3>Last Name:</h3></td>
      <td colspan="2">asdf</td>
      <td><h3>Last Name:</h3></td>
      <td colspan="2">asdf</td>
    </tr>
  </tbody>
</table>

<div id="characterInfoContainer">
  <div class="span-4"><div class="span-4 identifier">asdf</div><div class="span-8 input"><input type="text" class="large" id="firstName" name="firstName"></div></div>
  <div class="span-4">asdf</div>
  <div class="span-4">asdf</div>

</div>

<br>

<table id="attributesTable" cellspacing=0>
  <thead>
    <tr>
      <td><h3>Attributes</h3></td>
      <td><h3>Total</h3></td>
      <td><h3>Mod</h3></td>
      <td><h3>Base</h3></td>
      <td><h3>Class</h3></td>
      <td><h3>Other</h3></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><label for=""><h3>Strength</h3></label></td>
      <td><h3 id="totalStr">10</h3></td>
      <td><h3 id="modStr">0</h3></td>
      <td><input type="tel" class="small" id="baseStr" name="baseStr" value="10"></td>
      <td><input type="tel" class="small" id="enhStr" name="enhStr" value="0"></td>
      <td><input type="tel" class="small" id="miscStr" name="miscStr" value="0"></td>
    </tr>
    <tr>
      <td><label for=""><h3>Dexterity</h3></label></td>
      <td><h3 id="totalDex">10</h3></td>
      <td><h3 id="modDex">0</h3></td>
      <td><input type="tel" class="small" id="baseDex" name="baseDex" value="10"></td>
      <td><input type="tel" class="small" id="enhDex" name="enhDex" value="0"></td>
      <td><input type="tel" class="small" id="miscDex" name="miscDex" value="0"></td>
    </tr>
    <tr>
      <td><label for=""><h3>Constitution</h3></label></td>
      <td><h3 id="totalCon">10</h3></td>
      <td><h3 id="modCon">0</h3></td>
      <td><input type="tel" class="small" id="baseCon" name="baseCon" value="10"></td>
      <td><input type="tel" class="small" id="enhCon" name="enhCon" value="0"></td>
      <td><input type="tel" class="small" id="miscCon" name="miscCon" value="0"></td>
    </tr>
    <tr>
      <td><label for=""><h3>Intelligence</h3></label></td>
      <td><h3 id="totalInt">10</h3></td>
      <td><h3 id="modInt">0</h3></td>
      <td><input type="tel" class="small" id="baseInt" name="baseInt" value="10"></td>
      <td><input type="tel" class="small" id="enhInt" name="enhInt" value="0"></td>
      <td><input type="tel" class="small" id="miscInt" name="miscInt" value="0"></td>
    </tr>
    <tr>
      <td><label for=""><h3>Wisdom</h3></label></td>
      <td><h3 id="totalWis">10</h3></td>
      <td><h3 id="modWis">0</h3></td>
      <td><input type="tel" class="small" id="baseWis" name="baseWis" value="10"></td>
      <td><input type="tel" class="small" id="enhWis" name="enhWis" value="0"></td>
      <td><input type="tel" class="small" id="miscWis" name="miscWis" value="0"></td>
    </tr>
    <tr>
      <td><label for=""><h3>Charisma</h3></label></td>
      <td><h3 id="totalCha">10</h3></td>
      <td><h3 id="modCha">0</h3></td>
      <td><input type="tel" class="small" id="baseCha" name="baseCha" value="10"></td>
      <td><input type="tel" class="small" id="enhCha" name="enhCha" value="0"></td>
      <td><input type="tel" class="small" id="miscCha" name="miscCha" value="0"></td>
    </tr>
  </tbody>

  <tfoot>
    <td colspan="3"><h3>Attribute Points Spent:</h3></td>
    <td colspan="3"><p id="attributeTotal"></p></td>
  </tfoot>
</table>
